html, body {
    height: 100%;
      margin: 0;
  }
body {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
    font-weight: 400;
    font-size: 16px;
}

.company {
    float: left;
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 28px;
    font-weight: 400;
}
.notification-bar {
    height: 60px;
    background-color: rgba(138, 146, 167, 0.15);
}
.container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-block-13 {
    margin-right: 20px;
    color: #8a92a7;
    font-weight: 700;
}
.div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    min-width: 200px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
}
.text-block-14 {
    color: #59b1ff;
    position: absolute;
    margin-left: -30px;
}
.nav-bar {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 10px;
}

.section-hero {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 50px;
    max-width: 940px;
    margin: auto;
}

.hero-heading {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
    font-size: 38px;
    font-weight: 400;
}

.hero-subhead {
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 14px;
}

.crear-producto {
    position: relative;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 120px;
    margin: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tag {
    position: absolute;
    left: auto;
    top: -8px;
    right: 8px;
    bottom: auto;
    border-radius: 6px;
    background-color: #ff5959;
    color: #fff;
}

.text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    color: #3c1b82;
    font-size: 19px;
}

.text-block-2 {
    color: #004472;
    font-size: 16px;
}

.text-block-3 {
    margin: 5px;
}

strong {
    color: #222;
    font-weight: 700;
}
.button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.is-gray {
background-color: #6d7280;
color: white;
}
.buttonN{
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
    padding: 14px 29px;
    border-radius: 5px;
    background-color: #6d7280;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.image-5 {
    display: inline-block;
    margin-right: 10px;
}
.buttonN:hover{
    background-color: #848a9c;
    color: #fff
}
.blue{
    background-color: #59b1ff;
    font-family: 'Space Grotesk', sans-serif;
    color: white
}
.blue:hover{
    background-color: #4a99df;
    color: white
}

.play{
    background-color: #42db77!important;
}

.play:hover{
    background-color: #55f08b!important;
}

.dropMover{
    left: -30px;
}

.dropPublicar{
    background: #59b1ff;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.dropPublicar:hover{
    background: #4a99df!important;
}

.is-gray{
background-color: #6d7280!important;
}
.section-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.section-subtitle {
    margin-bottom: 43px;
    color: #8a92a7;
    text-align: center;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}


.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.w-col-4 {
    width: 33.33333333%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.div-block-21 {
height: 165px;
}
.div-block-20 {
    bottom: auto;
    z-index: 2;
}
.bold-text-6 {
    color: #004472;
}
.div-block-16 {
    margin-top: 20px;
    margin-left: 10px;
}
.div-block-15 {
    margin-top: 40px;
}
.logotipo-fill-dark {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #59b1ff;
}

.w-col-6 {
    width: 50%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.content-column {
    padding-top: 79px;
    text-align: left;
}
h3 {
    margin: 10px 0px 1px;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
}
p {
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: 'Varela Round', sans-serif;
    color: #848999;
    font-size: 14px;
}
.section-grey {
    background-color: #eff1f4;
    text-align: center;
    padding-top: 75px;
    max-width: 100%;
    padding-bottom: 50px;
}
.image {
    margin-top: 60px;
    box-shadow: -4px 4px 20px 7px rgb(0 0 0 / 15%);
}

.circle {
    border-radius: 190px;
    margin-top: -80px;
}
.frames {
    width: 64px;
    color: #00c9a6;
}
.numberM {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-bottom: 17px;
    margin-left: auto;
    padding-top: 10px;
    border-radius: 50px;
    background-color: #363b48;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    padding-top: 12px;
    border-radius: 40px;
    background-color: #eff1f4;
}
.section-footer {
    background-color: #333;
    text-align: left;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    width: 100%;
    bottom: 0;
    
}
.footer-text {
    display: inline-block;
    margin-top: 11px;
    font-family: Montserrat, sans-serif;
    color: #7d8391;
    font-size: 15px;
}
.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    margin-left: 7px;
    padding-top: 9px;
    border-radius: 40px;
    background-color: #596073;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-align: center;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.headingM {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
}
h1 {
    margin: 10px 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.form-block {
    text-align: left;
}
.w-form {
    margin: 0 0 15px;
}
.field-label {
    font-family: 'Space Grotesk', sans-serif;
    color: #6a7183;
    font-size: 15px;
    font-weight: 400;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.text-field.title {
    height: 70px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 100;
    color: #222222;
}

.text-field {
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 10%);
    font-size: 16px;
    line-height: 21px;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222222;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.div-block-4 {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.text-block-5 {
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 15px;
    cursor: pointer;
}
.w-input:focus, .w-select:focus {
    border-color: #3898EC;
    outline: 0;
}
::placeholder {
    font-family: 'Space Grotesk', sans-serif;

    color: #8a92a7;
    font-size: 18px;
  }
  .text-block-8 {
    color: #59b1ff;
    font-weight: 700;
    cursor: pointer;
}
.div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
}
.text-block-9 {
    margin-bottom: 30px;
    color: #59b1ff;
    font-size: 32px;
    font-weight: 700;
}
.text-block-10 {
    color: #8a92a7;
    font-weight: 700;
    cursor: pointer;
}
.image-2 {
    height: 120px;
}

.radio-button-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(138, 146, 167, 0.5);
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    
}
.radio-button-field:hover{
    border-color: #59b1ff;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.radio-button {
    position: absolute;
    left: -9999px;
    top: 0%;
    right: auto;
    bottom: 0%;
    overflow: hidden;
}
.w-radio-input {
    margin-top: 3px;
}
.w-radio-input {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    float: left;
    margin-left: -20px;
}
.div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(34, 34, 34, 0.15);
    border-radius: 20px;
}
.radio-button-label {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
}

.w-form-label {
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
}

.activeOption {
    padding-left: 20px;
}
.logotipo-dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 20px;
}
.heading-2 {
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.link-3 {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.link-3:hover {
    color: #fff;
}
.div-block-14 {
    margin-top: 60px;
}
.heading-3 {
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #b6b6b6;
    font-size: 24px;
    font-weight: 700;
}
.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
.grid-2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}


.image-4 {
    margin-bottom: 5px;
}
.rows{
    display: flex;
    flex-direction: column;
}
.div-block-9 {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-10 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;

}
.link-2 {
    color: #8a92a7;
    font-size: 18px;
    text-decoration: none;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    opacity: 1;
}
.w-button:hover {
   opacity: 0.8;
}
.submit-button-3 {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #59b1ff;
    font-size: 21px;
}

.results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.poll-bar {
    width: 87%;
    height: 8px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgba(138, 146, 167, 0.3);
}
.fill-bar.orange {
    background-color: #ffaf59;
}

.fill-bar {
    height: 8px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-12 {
    min-width: 140px;
}
.text-block-11 {
    display: inline-block;
    color: #8a92a7;
    text-align: right;
}
.text-block-12 {
    display: inline-block;
    margin-left: 10px;
    color: #8a92a7;
    font-size: 24px;
}
.CubOption{
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(138, 146, 167, 0.5);
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}
.cubreResult{
    width: 100%;
    align-items: center;
}
.logotipo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(34, 34, 34, 0.15);
    border-radius: 20px;
}
.logotipo-fill {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-5 {
    margin-bottom: 40px;
    text-align: left;
}
.link {
    color: #59b1ff;
    text-decoration: none;
}

.pollBlock{
    background-color: #ccc;
    background: #FFFFFF;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 7px;
    padding: 57px 20px 57px 20px;
    text-align: center;
}
.pollIcon{
    margin-left: auto;
    margin-right: auto;
}
.faIconPoll{
    font-size: 44px!important;
    color: #59b1ff!important;
}
.pollNumber{
    font-size: 64px;
    color: #333333;
    letter-spacing: -1.06px;
    line-height: 64px;
    font-weight: 700;
}
.pollsText{
    padding: 15px 0px 0px 0px;
    font-size: 14px;
    color: #8a92a7;
    letter-spacing: -0.21px;
    text-align: center;
    line-height: 23px;
    font-weight: 500;
}
.cubreDiv:hover{
    border: solid 2px;
    border-color: #59b1ff
}
#loader{
    height: 600px;
}
#sinEncuestas{
    max-width: 940px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 300px;
    padding: 10px;
}
.cubreLoader{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miLoader{
    -webkit-animation: spinAround 700ms infinite linear;
    animation: spinAround 700ms infinite linear;
    font-size: 30px!important;
    color: #59b1ff;
}
.cubreRegister{
    display: flow-root;
    max-width: 400px!important;
}
.buttonLang{
    margin-left: 10px;
    border: none;
    margin-top: 5px;
    color: #8a92a7;
}
.text-block-15 {
    display: inline-block;
    margin-right: 10px;
}
.compartir {
    display: inline-block;
    margin-right: 10px;
    color: #00afee;
    text-decoration: none;
}
.keyboard {
    position: absolute;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #fff;
    color: #8a92a7;
    margin-top: -35px;
    font-weight: bold;
}
.dBlock{
    display: block!important;
}
.nav-link-copy.sign-up-copy {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #59b1ff;
    color: #fff;
    text-transform: uppercase;
}

.nav-link-copy {
    margin-right: 11px;
    margin-left: 11px;
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
}

.logotipo-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 96px;
    height: 96px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 12px;
    border-color: rgba(34, 34, 34, 0.15);
    border-radius: 100%;
    margin: auto    ;
}

.titleEncuesta{
    margin-bottom: 20px;
    color: rgba(51, 51, 51, 0.3);
    font-weight: 700;
    width: 100%;
}
.cubreEncuesta1{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.cubreNumber{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.logotipo-fill-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-color: #59b1ff;
}
.numberTipeEncuesta {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.text-block-6{
    margin-bottom: 20px;
    color: rgba(51, 51, 51, 0.3);
    font-weight: 700;
}
.hoverOpciones{
    display: flex;
    justify-content: flex-end;
}
.hoverOpciones a{
    margin-right: 20px;
}
.list-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    list-style-type: none;
}
.list-item-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
.text-b4 {
    font-size: 16px;
    display: block;
}
.text-span {
    color: rgba(51, 51, 51, 0.5);
    display: block;
}
.text-block-21{
    display: inline-block;
}
.list-item-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    min-width: 40px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.image-4 {
    height: 24px;
}
.list-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style-type: none;
}
.addPoll{
    font-size: 25px;
    cursor: pointer;
}
.div-block-23 {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60c767eee35ebe6df2f30004_home-shape-3.svg);
    background-position: 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.div-block-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1.7rem;
    background-image: url(https://uploads-ssl.webflow.com/60b13cec71296d20a8aa5bf0/60c767eee35ebe6df2f30004_home-shape-3.svg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.video {
    overflow: hidden;
    width: 360px;
    height: 448px;
    border-radius: 1.7rem;
}
.w-video {
    position: relative;
    padding: 0;
}
.w-video iframe, .w-video object, .w-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-3 {
    padding: 2.5rem 2rem;
    border-radius: 4vw;
    box-shadow: 0 40px 45px 16px rgb(89 177 255 / 20%);
}
.icons._1 {
    background-color: #c6e1f9;
    color: #004472;
}
.icons._2 {
    background-color: #fbc6ca;
    color: #61060e;
}
.icons._3 {
    background-color: #decdf5;
    color: #3c1b82;
}
.icons._4 {
    background-color: #c0ebdf;
    color: #0a674e;
}
.icons._5 {
    background-color: #fde2c2;
    color: #8f5702;
}
.icons._6 {
    background-color: #cbf3f8;
    color: #0b676f;
}
.evento {
    position: relative;
    cursor: pointer;
}
.bloque-evento {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(198, 225, 249, 0.25);
    color: #004472;
}
.bloque-evento._2 {
    background-color: rgba(251, 198, 202, 0.25);
    color: #61060e;
}
.cubreEventoFron{
    padding: 32px;
    background: white;
    border-radius: 24px;
    margin: auto;
    color: #071324;
    text-align: left;
}
.navigationTab{
    display: flex;
    max-width: 300px;
    margin: auto;
}

.tabMia{
    flex: 1 1 auto;
    height: 8px;
    cursor: pointer;
}


.tabMia:not(:last-child){
    margin-right: 4px;
}

.tabMia-content{
    background: #EFF0F1;
    border-radius: 8px;
    width: 100%;
    height: 6px;
    margin-top: 2px;
    transition: all .1s ease-in-out;
}
.tabMia-content:hover{
    height: 10px;
    margin-top: 0;
}
.tabMia-content.active{
    background: #006AFF;
}
.linkEvent{
    color: black
}
.linkEvent:hover{
    color: #59b1ff;
}
.linkEvent.active{
    color: #59b1ff
}
.cubreResults{
    max-width: 940px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: -1px 1px 5px 1px rgb(152 163 179 / 50%);
    margin: auto;
    margin-bottom: 30px!important;
}
.compartirModal{
    width: 300px;
    padding: 10px;
}
.compartirModal h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.cubreTipoShare{
    display: block;
}
.cubreTipoShare a{
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 20px;
}
.cubreTipoShare a:hover{
    color: #59b1ff;
}
.cubreTipoShare span{
    font-size: 16px;
    margin-left: 16px;
}
.cubreTipoShare i{
    color: #59b1ff;
    font-size: 30px;
}
.cubreClicCopiar{
    display: block;
    cursor: pointer;
}
.cubreClicCopiar span{
    color: #70757a;
    font-size: 13px;
    line-height: 16px;
}
.cubreInputClicCopiar{
    border-bottom: 1px solid #dfe1e5;
}
.cubreInputClicCopiar input{
    outline: 0;
    color: #222;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
/*modo presentacion*/
.cubreNavBarPresentacion{
    height: 62px;
    border-bottom: 2px solid #333;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navBarLeft{
    display: flex;
}
.listNavBarLeft{
    display: flex;
    height: 60px;
    color: #fff;
    font-size: 70px;
    text-align: center;
    list-style-type: none;
    padding-left: 10px;
}
.list-item-navLeft{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.list-item-navLeft:hover{
    background: #5b5a5a;
}
.list-item-navLeft.add{
    background-color: #58b1ff;
}
.list-item-navLeft.add:hover{
    background-color: #4a99df
}

.list-item-navLeft.play{
    background-color: #658f53;
}
.list-item-navLeft.stop{
    background-color: #f30e0e;
}
.list-item-navLeft.stop:hover{
    background-color: #ff3737;
}
.list-item-navLeft.candado{
    border-right: 2px solid hsla(0,0%,100%,0.15);
}
.list-item-navLeft.tareas{
    border-right: 2px solid hsla(0,0%,100%,0.15);
}

.list-item-navLeft.config{
    border-left: 2px solid hsla(0,0%,100%,0.15);
}


.imageNarBar {
    height: 32px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.cubreContentLive{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
        margin-top: 70px;
}
.contentColumnLive{
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
}
.contentColumnLive h1{
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 100px;
    text-align: right;
}
.imgQr{
    border-radius: 20px!important;
    width: 200px;
}
.footerLive{
    position: relative;
    bottom: 0;
    width: 100%;
}
.centerFooter{
    display: flex;
    justify-content: center
}
.centerFooter h1{
    color: hsla(0,0%,100%,0.5);
    font-size: 30px;
}
.cubreModoLive{
    background-color: #58b1ff;
    background-image: linear-gradient( 
94deg
, rgba(0, 0, 0, 0.1), hsla(0, 0%, 100%, 0.1) );
    font-family: "Space Grotesk", sans-serif;
    min-height: 100vh;
    margin: 0;
    position: absolute;
    width: 100%;
}
.cubreIconDropdown{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.dropdown-content.liveNew{
    background-color: #444;
    display: block;
    text-align: left;
    margin-left: 30px;
}
.dropdown-content.liveNew a{
    color: white;
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.dropdown-content.liveNew a:hover{
    background: rgba(255,255,255,.16);
  }
.dropdown-content.live{
    background-color: #444;
    display: block;
    text-align: left;
    margin-left: 30px;
}
.dropdown-content.live a{
    color: white;
    display: flex;
    padding-right: 20px;
}
.dropdown-content.live a:hover{
    background: rgba(255,255,255,.16);
  }
  .irAtrasLive{
    position: absolute;
    left: 20px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    margin-top: 20px;
    cursor: pointer;
  }
.irAtrasLive:hover{
    opacity: 1;
}
.button-group-live{
    display: flex;
    justify-content: center;
}
.editIconEncuestaLive{
    margin-right: 10px;
}
.cubreEncuestaLiveFor{
    display: flex;
    width: 100%;
    margin-right: 20px;
    align-items: center;
}
.tituloEncuestaLiveItem{
    width: 200px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button.stop{
    background-color: red;
    padding: 10px;
}
.titleModalLive{
    text-align: left;
    font-size: 22px;
    margin-bottom: 30px;
}
.bloque-evento:hover{
    opacity: 0.7;
}
.btnsEvento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.positionAbsolute{
    width: 100%;
    position: absolute;
}
.choiceFrontLive{
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.usersOnline{
    position: absolute;
    color: white;
    margin-top: 20px;
    right: 20px;
    top: 60px;
    font-size: 20px;
}
.scrollSorteo{
    padding: 4px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
.scrollDiayHora{
    padding: 4px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
.cubreHoras{
    background: #fff;
    border-radius: 2px;
    border: 1px solid #59b1ff;
    margin-bottom: 8px;
}
.btnAddHoras{
    border: none;
    background-color: #fff;
    color: #45505E;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    min-height: 44px;
    cursor: pointer;
    border-top: 1px solid #D3DCE3;
}
.btnAddHoras:hover{
    background-color: #F8F9FA
}
.dropdown-content{
    padding: 0
}
.anchoHora{
    width: 100%
}
.diaTitulo{
    font-size: 18px!important;
    font-weight: 600;
    margin-bottom: 10px;
}
.modal .modal-content {
    /* padding-left: 20px; */
    max-width: 720px;
}
.columnaCentrada{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close_option{
    position: absolute;
    right: 30px;
    margin-top: -45px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.inputPadding{
    padding-right: 30px;
}
.close_option:hover {
    opacity: 1;
  }
  .close_option:before, .close_option:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close_option:before {
    transform: rotate(45deg);
  }
  .close_option:after {
    transform: rotate(-45deg);
  }


.cubreOpcion{
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 30px;
    border: solid 1px #bdb4b463;

}

.cubreOpcion:hover{
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 12%) 0px 30px 60px;
}

.opcionProgress{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.opcionNum{
    font-weight: bold;
    margin: unset;
    padding: 0px 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    vertical-align: middle;
    line-height: inherit;
    box-sizing: border-box;
}
.opcionPorcentaje{
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 0px;
    font-weight: 700;
    margin: unset;
    padding: 0px 18px 0px 0px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    line-height: inherit;
    box-sizing: border-box;
    z-index: 1;
}

.encuesta_votacion{
    position: relative;
    height: 100%;
    background: rgb(0, 112, 243);
    top: -50.5px;
    left: 0px;
    opacity: 0.5;
    transition: width 0.5s ease 0s;
    border-radius: 10px;
}


  
#seccionPanel{
    max-width: 800px!important;
}

.iconsm{
    opacity: 0.4;
}
.iconsm:hover{
    opacity: 1;
}

.cubreLink{
    position: relative;
    width: initial;
    max-width: 100%;
    padding: 8pt;
    padding-right: calc(2 * 16pt);
    color: #000;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px
}

.LinkEncuesta{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 0.8125rem;
    font-weight: bold;
}

.iconoCopy{
    position: absolute;
    right: 0;
    top: -2px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    background-color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(2 * 16pt);
    color: inherit;
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cubreQr{
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0px;
}
.qr_icon{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor:pointer
}
.qr_show{
    font-weight: 600;
    font-size: 12px;
    margin-left: 5px;
    cursor:pointer
}


.qr_img{
    display: flex;
    margin: 20px auto 0px;
    border-radius: 5px;

}

.teclaNum{
    opacity: 0.8;
    position: absolute;
    right: 10px;
    margin-top: -65px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    border: solid 1px #7777774a;
    padding-bottom: 0;
    line-height: 2;
    border-radius: 5px;
    color: black;
    z-index: 2;
}
.teclaNum:hover{
    opacity: 1;
    font-weight: bold;
}

.btnAtajos{
    top: 100px;
    position: fixed;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 50;
    opacity: 0.5;
}
.btnAtajos:hover{
    opacity: 1;
}
.container.is-poll{
    width: 100%;
    max-width: 500px!important;
    margin: 0 auto;
}

.is-brand-box{
    border-top: 3px solid #0070f3;
}


.footer-bottom{
    padding: 2rem 3rem;
    background-color: #212529;
    color: #868e96;
}

#wrapper {
    z-index: 1;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
kbd{
    margin-bottom: 10px;
    background: #0070f3;
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgb(126 59 208 / 25%);
    color: #fff;
}
.miTitulo{
    color: #0070f3;
}

.totalVotos{
    padding: 10px;
    color: black;
    font-weight: bold;
    text-align: right;
}
.buscadorCodigo{
    display: flex;
    padding: 10px;
    background: #2196f3;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 500px;
}
.buscadorCodigo h1{
    font-weight: bold;
    margin-right: 10px;
}
.botonCodigo{
    cursor: pointer;
}
.inputBuscador{
    display: flex;
    align-items: center;
}
.cubreDias{
    background-color: #ccc;
    background: #FFFFFF;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.decor{
    padding: 20px;
    border-radius: 10px;
}
.diaCalendario{
    font-size: 40px;
}
.horaCalendario{
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: auto;
}
.horaCalendario:hover{
   background-color: #f3f2f2
    
}
.horaCalendario.ganador{
    background-color: #53e6538c!important;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}
.horaCalendario.active{
    background-color: #53e6538c!important;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}
.cantVotosHoras{
    background: #2196f3;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100px;
    height: 23px;
    width: 23px;
    color: white;
    font-weight: bold;
}
.timepicker .dropdown-content .control .select select{
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.cubreEncuestaCalendario{
    display: flex;
}
.cubreCalendario{
    display: flex;
    margin-right: 10px;
}
.CubreHorarios{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
.cubreColumnH{
    padding: 2px
}
.closeDate{
    margin-top: 20px;
    right: unset;
    margin-left: 90px;
    width: 10px!important;
    height: 10px!important;
}
.closeDate:after, .closeDate:before{
    height: 10px;
}
.horaT{
    width: 100px;
}

.tipoEncuestaEventNotRegister{
    color: #59b1ff;
    font-weight: bold;
}
/*form question */


.question-form {
    position: relative;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%), 0px 1px 4px rgb(0 0 0 / 8%);
    border-radius: 12px;
    background: #FFFFFF;
    background: v#262626;
    overflow: hidden;
    transition: box-shadow .3s ease;
}

.question-form__hero-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 24px;
    left: 24px;
    fill: #39ac37;
    transition: opacity .1s;
    pointer-events: none;
}


.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.08);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    font-weight: 700;
}

.avatar .icon {
    fill: rgba(0, 0, 0, 0.48);
    fill: rgba(255, 255, 255, 0.4);
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
}
.avatar>div {
    height: inherit;
    width: inherit;
}
sda-icon, .icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    fill: rgba(0, 0, 0, 0.4);
    fill: rgba(255, 255, 255, 0.4);
}

sda-icon svg, .icon svg {
    display: block;
    fill: #616161!important
}
svg:not(:root) {
    overflow: hidden;

}
.question-form-textarea {
    position: relative;
}

textarea#question-field {
    background: transparent;
}

.question-form--collapsed .question-form__question-input>textarea {
    padding: 28px 24px 12px 68px;
}
.question-form__question-input>textarea {
    border: 0 !important;
    box-shadow: none !important;
    font-size: 16px;
    padding: 28px 24px 12px 24px;
    resize: none;
    display: block;
    width: 100%;
    transition: padding-left .3s;
    min-height: 80px;
}

.question-form__footer {
    padding: 12px 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #FFFFFF;
    background: var(--white-1);
    transition: max-height .3s,opacity .3s;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    max-height: 64px;
    opacity: 1;
    z-index: 1;
}

.question-form__footer .question-form-user-switcher {
    flex-grow: 1;
    flex-shrink: 1;
}

.question-form-user-switcher {
    min-width: 0;
}
.question-form-user-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.question-form__consent-request-holder {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    min-height: 50px;
    overflow: hidden;
    pointer-events: none;
}

/*form question */

/*list question */

.listPreguntas{
    margin-top: 40px;
}

.item_pregunta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%), 0px 1px 4px rgb(0 0 0 / 8%);
    border-radius: 12px;
    background: #FFFFFF;
    background: v#262626;
    overflow: hidden;
    transition: box-shadow .3s ease;
    padding: 15px;
}
.item_pregunta_top{
    display: flex;
    justify-content: flex-start;
}
.item_pregunta_top_img{
    margin-right: 20px;
    display: flex;
}
.item_pregunta_top_user{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.item_pregunta_top_like{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.item_pregunta_footer{
    margin-top: 10px;
    text-align: left;
    width: 100%;
}
.likeIcon{
    width: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.likeIcon.active{
    opacity: 1;
}
.likeIcon:hover{
    opacity: 1;
}
.likeContador{
    padding: 4px;
    width: 60px;
    display: flex;
    justify-content: flex-end;
}
.UserIcon{
    width: 25px;
    opacity: 0.3;
}
.icontree{
    padding: 4px;
    width: 60px;
}
.iconEditQyA{
    opacity: 0.5;
    cursor: pointer;
}
.iconEditQyA:hover{
    opacity: 1;
}
.replyCountAdmin{
    cursor: pointer;
}
.minAltoLoading{
    min-height: 1000px;
}
.usersOnlineLiveFront{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    .cubreEncuestaCalendario{
        flex-wrap: wrap;
    }
    .CubreHorarios{
        padding: 0; 
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .buscadorCodigo{
        display: block;
        width: 350px;
    }
    .inputBuscador{
        width: 300px!important;
    }
  }

  @media screen and (max-width: 400px) {
    .buscadorCodigo{
        display: block;
        width: 300px;
    }
    .inputBuscador{
        width: 250px!important;
    }
  }
@media screen and (max-width: 767px)
{
  
    .positionAbsolute{
        width: 100%;
        position: relative;
    }
    .circle {
        display: inline-block;
        height: auto;
        border-radius: 10px;
    }
    .section-hero {
        padding-left: 10px;
        padding-right: 10px;
    }
    .isFlexCenter{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div-block-11 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
        text-align: center;
    }
    .text-block-12 {
        font-size: 14px;
    }
}


@media screen and (max-width: 991px){
    .circle {
        height: 226px;
    }

    .cubreContentLive{
        display: block;
    }
    .contentColumnLive{
        padding: 0; 
        text-align: center;
    }
    .contentColumnLive h1 {
        margin-bottom: 20px;
        font-size: 70px;
        line-height: 100px;
        text-align: center;
        padding-right: 10px;
    }
    .imgQr {
        padding: 10px; 
    }

    .footerLive{
        position: relative;
    }
    .dropdown-content.live{
    margin-left: -100px;
    width: 300px;
    }
    
    .cubreEncuestaLiveFor{
        width: 200px;
    }
}
/*Mi propia regilla*/

.rowHec {
    max-width:960px;
    margin: 0 auto;
}
.rowHec.flex-stretch{
    display: flex;
    align-items: stretch;
}
.columnFlex{
    display: flex;
}
.rowHec:after {
  content: "";
  display: table;
  clear: both
}

[class*='large'], [class*='small'] {
  float: left;
  padding: 5px;
}


.containerHec {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 50px;
}

/*Media Queries*/
@media (max-width: 768px) {
  .small-1 {width: 8.333%;}
  .small-2 {width: 16.666%;}
  .small-3 {width: 25%;}
  .small-4 {width: 33.333%;}
  .small-5 {width: 41.666%;}
  .small-6 {width: 50%;}
  .small-7 {width: 58.333%;}
  .small-8 {width: 66.666%}
  .small-9 {width: 75%;}
  .small-10 {width: 83.333%}
  .small-11 {width: 91.666%;}
  .small-12 {width: 100%}
}

@media (min-width: 768px) {
  .large-1 {width: 8.333%;}
  .large-2 {width: 16.666%;}
  .large-2-5 {     flex: 0 0 20%;}
  .large-3 {width: 25%;}
  .large-4 {width: 33.333%;}
  .large-5 {width: 41.666%;}
  .large-6 {width: 50%;}
  .large-7 {width: 58.333%;}
  .large-8 {width: 66.666%}
  .large-9 {width: 75%;}
  .large-10 {width: 83.333%}
  .large-11 {width: 91.666%;}
  .large-12 {width: 100%}
}
.pulsate-bck {
	-webkit-animation: pulsate-bck 10s linear infinite both;
	        animation: pulsate-bck 10s linear infinite both;
}
.heartbeat {
	-webkit-animation: heartbeat 5s ease-in-out 0.5s infinite both;
	        animation: heartbeat 5s ease-in-out 0.5s infinite both;
}
.shake-lr {
	-webkit-animation: shake-lr 20s ease-in-out infinite both;
	        animation: shake-lr 20s ease-in-out infinite both;
}
@-webkit-keyframes shake-lr {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    10% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    90% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
  }
  @keyframes shake-lr {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    10% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    90% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
  }
  
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  