body {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
    font-weight: 400;
    font-size: 16px;
}

.company {
    float: left;
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 28px;
    font-weight: 400;
}
.notification-bar {
    height: 60px;
    background-color: rgba(138, 146, 167, 0.15);
}
.container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-block-13 {
    margin-right: 20px;
    color: #8a92a7;
    font-weight: 700;
}
.div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    min-width: 200px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
}
.text-block-14 {
    color: #59b1ff;
    position: absolute;
}
.nav-bar {
    padding-top: 21px;
    padding-bottom: 21px;
}

.section-hero {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 50px;
    max-width: 940px;
    margin: auto;
}

.hero-heading {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
    font-size: 38px;
    font-weight: 400;
}

.hero-subhead {
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 14px;
}

.crear-producto {
    position: relative;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 120px;
    margin: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tag {
    position: absolute;
    left: auto;
    top: -8px;
    right: 8px;
    bottom: auto;
    border-radius: 6px;
    background-color: #ff5959;
    color: #fff;
}

.text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
    font-size: 19px;
}

.text-block-2 {
    color: #222;
    font-size: 16px;
}

.text-block-3 {
    margin: 5px;
}

strong {
    color: #222;
    font-weight: 700;
}
.button-group {
margin-top: 40px;
margin-bottom: 48px;
}
.is-gray {
background-color: #6d7280;
color: white;
}
.buttonN{
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    padding: 14px 29px;
    border-radius: 5px;
    background-color: #6d7280;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.buttonN:hover{
    background-color: #848a9c;
    color: #fff
}
.blue{
    background-color: #59b1ff;
    font-family: 'Space Grotesk', sans-serif;
}
.blue:hover{
    background-color: #4a99df;
}

.is-gray{
background-color: #6d7280!important;
}
.section-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.section-subtitle {
    margin-bottom: 43px;
    color: #8a92a7;
    text-align: center;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.div-block-16 {
    margin-top: 20px;
    margin-left: 10px;
}
.div-block-15 {
    margin-top: 40px;
}
.logotipo-fill-dark {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #59b1ff;
}

.w-col-6 {
    width: 50%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.content-column {
    padding-top: 79px;
    text-align: left;
}
h3 {
    margin: 10px 0px 1px;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
}
p {
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: 'Varela Round', sans-serif;
    color: #848999;
    font-size: 14px;
}
.section-grey {
    background-color: #eff1f4;
    text-align: center;
    padding-top: 75px;
    max-width: 100%;
    padding-bottom: 50px;
}
.image {
    margin-top: 60px;
    box-shadow: -4px 4px 20px 7px rgb(0 0 0 / 15%);
}

.circle {
    height: 303px;
    margin-bottom: 25px;
    padding-top: 21px;
    border-radius: 190px;
    background-color: #f7f8fa;
}
.numberM {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-bottom: 17px;
    margin-left: auto;
    padding-top: 10px;
    border-radius: 50px;
    background-color: #363b48;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    padding-top: 12px;
    border-radius: 40px;
    background-color: #eff1f4;
}
.section-footer {
    background-color: #333;
    text-align: left;
    padding-top: 65px;
    padding-bottom: 65px;
    
}
.footer-text {
    display: inline-block;
    margin-top: 11px;
    font-family: Montserrat, sans-serif;
    color: #7d8391;
    font-size: 15px;
}
.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    margin-left: 7px;
    padding-top: 9px;
    border-radius: 40px;
    background-color: #596073;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    text-align: center;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.headingM {
    font-family: 'Space Grotesk', sans-serif;
    color: #222;
}
h1 {
    margin: 10px 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.form-block {
    text-align: left;
}
.w-form {
    margin: 0 0 15px;
}
.field-label {
    font-family: 'Space Grotesk', sans-serif;
    color: #6a7183;
    font-size: 15px;
    font-weight: 400;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.text-field.title {
    height: 70px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 100;
    color: #222222;
}

.text-field {
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 10%);
    font-size: 16px;
    line-height: 21px;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222222;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.div-block-4 {
    margin-bottom: 20px;
}
.text-block-5 {
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #8a92a7;
    font-size: 15px;
    cursor: pointer;
}
.w-input:focus, .w-select:focus {
    border-color: #3898EC;
    outline: 0;
}
::placeholder {
    font-family: 'Space Grotesk', sans-serif;

    color: #8a92a7;
    font-size: 18px;
  }
  .text-block-8 {
    color: #59b1ff;
    font-weight: 700;
    cursor: pointer;
}
.div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
}
.text-block-9 {
    margin-bottom: 30px;
    color: #59b1ff;
    font-size: 32px;
    font-weight: 700;
}
.text-block-10 {
    color: #8a92a7;
    font-weight: 700;
    cursor: pointer;
}
.image-2 {
    height: 120px;
}

.radio-button-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(138, 146, 167, 0.5);
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    
}
.radio-button-field:hover{
    border-color: #59b1ff;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.radio-button {
    position: absolute;
    left: -9999px;
    top: 0%;
    right: auto;
    bottom: 0%;
    overflow: hidden;
}
.w-radio-input {
    margin-top: 3px;
}
.w-radio-input {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    float: left;
    margin-left: -20px;
}
.div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(34, 34, 34, 0.15);
    border-radius: 20px;
}
.radio-button-label {
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
}

.w-form-label {
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
}

.activeOption {
    padding-left: 20px;
}
.logotipo-dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 20px;
}
.heading-2 {
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.link-3 {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.link-3:hover {
    color: #fff;
}
.div-block-14 {
    margin-top: 60px;
}
.heading-3 {
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: #b6b6b6;
    font-size: 24px;
    font-weight: 700;
}
.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
.grid-2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}


.image-4 {
    margin-bottom: 5px;
}
.rows{
    display: flex;
    flex-direction: column;
}
.div-block-9 {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.link-2 {
    color: #8a92a7;
    font-size: 18px;
    text-decoration: none;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    opacity: 1;
}
.w-button:hover {
   opacity: 0.8;
}
.submit-button-3 {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #59b1ff;
    font-size: 21px;
}

.results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.poll-bar {
    width: 87%;
    height: 8px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgba(138, 146, 167, 0.3);
}
.fill-bar.orange {
    background-color: #ffaf59;
}

.fill-bar {
    height: 8px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-12 {
    min-width: 140px;
}
.text-block-11 {
    display: inline-block;
    color: #8a92a7;
    text-align: right;
}
.text-block-12 {
    display: inline-block;
    margin-left: 10px;
    color: #8a92a7;
    font-size: 24px;
}
.CubOption{
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(138, 146, 167, 0.5);
    border-radius: 10px;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}
.cubreResult{
    width: 100%;
    align-items: center;
}
.logotipo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(34, 34, 34, 0.15);
    border-radius: 20px;
}
.logotipo-fill {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #59b1ff;
}
.div-block-5 {
    margin-bottom: 40px;
    text-align: left;
}
.link {
    color: #59b1ff;
    text-decoration: none;
}

.pollBlock{
    background-color: #ccc;
    background: #FFFFFF;
    box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 7px;
    padding: 57px 20px 57px 20px;
    text-align: center;
}
.pollIcon{
    margin-left: auto;
    margin-right: auto;
}
.faIconPoll{
    font-size: 44px!important;
    color: #59b1ff!important;
}
.pollNumber{
    font-size: 64px;
    color: #333333;
    letter-spacing: -1.06px;
    line-height: 64px;
    font-weight: 700;
}
.pollsText{
    padding: 15px 0px 0px 0px;
    font-size: 14px;
    color: #8a92a7;
    letter-spacing: -0.21px;
    text-align: center;
    line-height: 23px;
    font-weight: 500;
}
.cubreDiv:hover{
    border: solid 2px;
    border-color: #59b1ff
}
#loader{
    height: 600px;
}
#sinEncuestas{
    max-width: 940px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 300px;
    padding: 10px;
}
.cubreLoader{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miLoader{
    -webkit-animation: spinAround 700ms infinite linear;
    animation: spinAround 700ms infinite linear;
    font-size: 30px!important;
    color: #59b1ff;
}
.cubreRegister{
    display: flow-root;
    max-width: 400px!important;
}
.buttonLang{
    margin-left: 10px;
    border: none;
    margin-top: 5px;
    color: #8a92a7;
}
.text-block-15 {
    display: inline-block;
    margin-right: 10px;
}
.compartir {
    display: inline-block;
    margin-right: 10px;
    color: #00afee;
    text-decoration: none;
}
.keyboard {
    position: absolute;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #fff;
    color: #8a92a7;
    margin-top: -35px;
    font-weight: bold;
}
.dBlock{
    display: block!important;
}
@media screen and (max-width: 767px)
{
    .circle {
        display: inline-block;
        height: auto;
        border-radius: 10px;
    }
    .section-hero {
        padding-left: 10px;
        padding-right: 10px;
    }
    .isFlexCenter{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .div-block-11 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: -1px 1px 10px 0 rgb(0 0 0 / 20%);
        text-align: center;
    }
    .text-block-12 {
        font-size: 14px;
    }
}


@media screen and (max-width: 991px){
    .circle {
        height: 226px;
    }
}
